.card-content{
    border: 2px solid lightslategray;
    border-radius: .5rem;
    margin: .6rem;
    padding: .4rem;
}
.art-image{
    max-width: 100%;
    max-height: 100%;
}
.title{
    font-style: italic 
}
.information{
    list-style-type: none;
    padding: 0
}
.location-image{
    max-width: 100%;
    max-height: 100%;
}
.faves{
    background-color: lightslategrey;
    border: 3px double white;
    border-radius: 1rem;
}
.fav-content{
    border: 2px solid white;
    border-radius: .5rem;
    margin: .6rem;
    padding: 1rem;
    max-height: 15%;
    max-width: 100%
}
.delete{
    padding: .2rem;
    margin: 1rem;
    margin-top: 0
}
.notesButton{
    padding: .2rem;
    margin: 1rem;
    margin-top: 0;
}
.notestext{
    color: white;
}

